
body { 
	width: 100%; height: 100%; margin: 0px; padding: 0px;

 } 
a{
	text-decoration: none;
	
}

h1, h2, h3, h4{
	font-size: 40px;
	color: white;
	font-family: sans-serif;
	font-weight: 100;
}
header{
	padding: 20px;
	padding-bottom: 5px;
	position: relative;
	text-align: center;
	margin-bottom: 0px;
	font-size: 16px;
	font-family: serif;
	box-shadow: 2px; 
}
#menu
{
	/* border-i: url("img/search_line_devider.png"); */
	font-size: 20px;
	
}
header  ul, li{
	display: inline-block;
	
}
.logo-img{
	width: 178px;
	height: 93px;
}
.search{
	display: inline-block;
	font-family: serif;
	font-size: 20px;
	margin-left: 50px;
	text-align: center;
}
.search-container{
	border-radius: 8px;
	border:solid;
	border-color: 	#ccd9ff;
	border-width: 1px;
	position: relative;
	padding: 5px;

}
/* .search-container img
{
	background-image : url("img/search_line_devider.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 5px;
} */
.m-elment
{
	padding-left: 10px;
	padding-right: 10px;
	background-image : url("img/search_line_devider.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	font-family: serif;
	text-align: center;
}
.m-elment-last{
 margin-left: 10px;
}
.search-box{
	background-image : url("img/search_line_devider.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	border: transparent;
	outline: none;
	position: relative;
	float: left;
	font-size: 18px;
	width: 150px;
}

.hidden
{
	display: none;
}
#slide1 p
{
	font-size: 30px;
	font-family: serif;
}
.center{
/* position: relative; */

	margin-left: auto;
	margin-right: auto; 
    width: 1200px;

}

section{
	margin: 0px;
	position: relative;
	display: block;
}

#slides{
	list-style: none;
	list-style-position: 0px;
	padding-left: 0px;
	margin: 0px;
}
.news-container{
	position: relative;
	display: inline-table;
	width: 320px;
	height: 100px;
	background-color: white;
	opacity: 90%;
	color:black;
	padding: 10px;
	margin-right: 60px;
	opacity: 0.8;
	margin-top: auto;	



}

.news-text{
	margin-top: 0px;
	font-size: 24px;
	position: relative;

}
.date{
	background-color: #66a3ff; 
	position: relative;
	color: white;
	padding: 5px;
	text-align: center;
	float: left;
	margin-right: 20px;



}
.day{
	font-size: 60px;
	border-bottom: ridge;	
}
.month{
	font-size: 30px;
}
#main{
	background-image: url('img/slide-bg-complexity.jpg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
	background-size: cover;
	width: 100%;
	margin: 0px;
	color: white; 
	position: relative;
	display: block;
} 

#Happening{
	background-image: url("img/news-and-events-bg.jpg"); 
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 0px;
	padding: 20px;
}
#Happening h3
{
	text-align: center;
}
.bullets ul{
	list-style-position: 0px;
}
.bullet{
	display: inline-block;
	height: 12px;
	width: 12px;
	margin-right: 5px;
	margin-left: 0px;
	background-color:  #c2c2d6;
	border-radius: 2px;

}
a.bullet:active, a.bullet:hover {
background-color: #676798;
}
.link-btn{
  background:  #1a75ff;
  color: white;
  display: block;
  border-radius: 8px;
  height: 30px;
  background-image: url("img/btnArrow.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  text-align: left;
  /* box-shadow: 2px 2px 1px  #adad85; */
  font-family: sans-serif;
  font-size: 18px;
  display: block;
  padding-left: 10px ;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
}
#solutions
{
	width: 256px;
	margin: auto;
}
#learn-more
{
	width: 200px;
}
.center-btn{
	margin-left: auto;
	margin-right: auto;
}
.boxes{

  padding-left: 0px;
}
.block
{

	width: 320px;
	height: 150px;
	padding: 10px;
	border-radius: 8px;
	opacity: 0.9;
	font-size: 24px;
	color:white;
	 display:inline-table; 
	position: top;
	margin-top: 40px;
	margin-right: 50px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 1px  #adad85;
}
.block p{
	font-size: 30px;
	margin-top: 10px;
	font-family: serif;

}
.read-more
{
	font-size: 20px;
	/* position: absolute;
	bottom: 0;
	left: 0; */
	vertical-align: bottom;
	/* margin-left: 5px; */
	font-family: sans-serif;
}

#pink{
	background-color: #ff4d93;
}
#green{

	background-color:  #33cc33;
}
#orange{
	background-color:   #ff751a;
}
#What{
	
	background-image: url("img/services-bg.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-attachment: fixed; */
	margin: 0px;
	padding: 25px;
	list-style-type: none;
	position: relative;
	color: white;
	/* display: block; */

}
#What ul li{
  display: inline-table;
  margin-right: 30px;
  text-align:center;
  position: inherit;
  font-family: serif;
  font-size: 18px;
  color: white;
}
.icons
{
	text-align: center;
}
#What h2{
	text-align: center;
}
#Success{
	background-color: #e1e1ea; 
	background-position: top;
	margin-top: 0px;
	padding: 25px;
	position: relative;

}
 ul{
	list-style: none;
	 padding-left:0;
}
.stories-container
{
	height: 430px;
	width: 1200px;
	position: relative;
	margin: auto;

}
.stories-container ul li
{
	display: inline-table;
}
.success-logo
{
	display: inline-table;
	background-color: white;
	background-attachment: fixed;
	height: 114px;
	width: 114px;
	margin-right: 10px;
	margin-top: 10px;  
	position: relative; 
}
.main-story
{
	
	height: 250px;
	width: 350px;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px; 
	position: relative;
	background-color: white;  
}
.main-story img
{
	/* float: left; */
	display: inline;
	margin-top:5px;
    margin-left:5px;
	
}
.main-success-story{
	display: inline-block;
	font-family: serif;
	font-size: 18px;
	/* background-image: url("img/quote-grey.png"); */
	background-repeat: no-repeat;
	background-position: 5% 5%;
	float: right; 
}
.main-story p{
	float: right; 
	font-family: serif;
	font-size: 18px;
	display: block;
}
.writer
{
	display: block;
}
.stories-container ul li ul li
{
	text-align: center;
	vertical-align: middle;
	display: inline-block; 
}
.stories-container ul li
{
	vertical-align: top;
}
.stories-container ul li:nth-child(3) .main-story
{
	width: 221px;
}
#Success h4
{
	text-align: center;
}
#success-btn
{
	width: 256px;
	margin: auto;
}
#footer{
	background-color: #14141f;	
	margin-top: 0;
}
#footer ul li
{
	margin-right:50px; 
	vertical-align: top;

}
.map-menu
{
	font-family: sans-serif;
	font-size: 14px;
	color: white;
	position: relative;

}
.map-menu h5
{
	font-size: 16px;		
}

.map-menu li
{
	margin-top: 10px;
	display: block;
}
.blog-posts
{
	display: inline-block;
	vertical-align: top;
	color:white;
	font-family: sans-serif;
	font-size: 14px;
	width: 256px;
	background-color:rgba(255,255,255,0.2);
	padding-left: 10px;
	position: relative;
}
.blog-posts h6
{
	color: #1a8cff;
	font-size:16px;
	font-family: sans-serif;

}
.divider
{
	margin-top: 50px;
	width: 240px;
	height: 3px;
	background-color: gray;
}