body{
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}
.learn-more-btn{
  background-color:  #6699ff;
  color: white;
  border: 0px;
  border-radius: 4px;
  height: 40px;
  width: 200px;
  background-image: url("img/btnArrow.png");
  background-position: right;
  background-repeat: no-repeat;
  text-align: left;
  display: block;
  box-shadow: 2px 2px 1px  #adad85;
}

.learn-more{
  background-image: url('img/slide-bg-complexity.jpg');
  background-position: top;
  background-repeat: no-repeat;
  padding: 60px;
  color: white;

}
.learn-more h1{
	color: white;
  	font-size: 40px;
  
}
.learn-more p{
	font-size: 24px;
}
.pink-block, .green-block, .orange-block
{

	width: 320px;
	height: 200px;
	padding: 10px;
	border-radius: 8px;
	opacity: 0.8;
	font-size: 24px;
	color: white;
	display: inline-block;
	position: top;
	margin-top: 40px;
	margin-left: 50px;

}
.pink-block a, .green-block a, .orange-block a{
	color:white;
}
.pink-block{
	background-color: #ff4d93;
}
.green-block{

	background-color:  #33cc33;
}
.orange-block{
	background-color:   #ff751a;
}
